In [8]:
dict1 = {"name": "jasmine", "class":["a",3,"b",6]}

In [9]:
dict1

{'name': 'jasmine', 'class': ['a', 3, 'b', 6]}

In [10]:
for i in dict1.values():
    if type(i)==list:
        print(i)

['a', 3, 'b', 6]

In [12]:
for i in dict1.values():
    if type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)

3
6

In [14]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

In [21]:
for i in d.items():
    print(i, " ", type(i), type(i[0]), type(i[1][0]), i[1][1])

(1, [1, (1, 2)])   <class 'tuple'> <class 'int'> <class 'int'> (1, 2)
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'int'> <class 'int'> [1, 5, 3]
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'int'> <class 'int'> {4: (5, 6)}

In [16]:
d.items()

dict_items([(1, [1, (1, 2)]), (2, (1, [1, 5, 3])), (3, [1, {4: (5, 6)}])])

In [22]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

for i in d.items():
    if type(i[1]) == list:
        if type(i[1][1]) == dict:
            print(type(i[1][1][4]), i[1][1][4])

<class 'tuple'> (5, 6)

In [23]:
d.items()

dict_items([(1, [1, (1, 2)]), (2, (1, [1, 5, 3])), (3, [1, {4: (5, 6)}])])

In [24]:
d3 = {1: "Nikita", 2: "mayuri", 3:"jasmin", 4:"aarti", 5:"pratiksha", 6:"nikita"}

In [25]:
for i in d3.values():
    if i == "Nikita" or i == "nikita":
        print(i)

Nikita
nikita

In [26]:
for i in range(3,6):
    for j in range(2):
        print(i)

3
3
4
4
5
5

In [36]:
for i in range(3):
    for j in range(2):
        for k in range(1):
            print(k)
        print(j)
    print(i)

0
0
0
1
0
0
0
0
1
1
0
0
0
1
2

In [41]:
rows = 5

for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print(" ")

1
2 2
3 3 3
4 4 4 4

In [45]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [46]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

In [47]:
rows = 10
b = 0
# reverse for loop from 5 to 0
for i in range(rows, 0, -2):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print(' ')

1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4
5 5

In [49]:
ord("a")

97

In [51]:
chr(98)

'b'

In [54]:
for i in range(97,123):
    print(chr(i), end= " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [56]:
for i in range(ord("A"), ord("Z")):
    print(chr(i), end = " ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y

In [58]:
n = 5
for i in range(5):
    for j in range(i):
        print(j)

0 0 1 0 1 2 0 1 2 3