In [2]:
# number of rows
rows = 9
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [11]:
# number of rows
rows = 6
k = 2*rows - 2

for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [13]:
rows = 9
for i in range(rows + 1, 0, -1):
    # nested reverse loop
    for j in range(0, i - 1):
        # display star
        print("*", end=' ')    
    print(" ")

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
rows = 5
n = 0

for i in range(rows + 1, 0, -1):  #6,5,4,3,2,1
    # nested reverse loop
    for k in range(n):            #0
        print(" ", end=" ")
    n = n+1                       #1,2
    for j in range(0, i - 1):     #0,1,2
        # display star
        print("*", end=' ')   #* * * * * 
    print("")                #_ * * * *
                              #_ _ * * *

* * * * *
  * * * *
    * * *
      * *
        *

In [35]:
rows = 5
#k = 2 * rows - 8
k = 0

for i in range(rows, -1, -1):   #(5,4,3,2,1,0)
    for j in range(k, 0, -1):   #(8,7,6,5,4,3,2,1)
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [26]:
for i in range(5):
    print(end="_")

_____

In [36]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j =j- 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i = i- 1

* * * * *
  * * * *
    * * *
      * *
        *

In [38]:
chr(65)

'A'

In [40]:
for i in range(ord("A"),ord("Z")+1):
    print(chr(i), "- -", ord(chr(i)))

A - - 65
B - - 66
C - - 67
D - - 68
E - - 69
F - - 70
G - - 71
H - - 72
I - - 73
J - - 74
K - - 75
L - - 76
M - - 77
N - - 78
O - - 79
P - - 80
Q - - 81
R - - 82
S - - 83
T - - 84
U - - 85
V - - 86
W - - 87
X - - 88
Y - - 89
Z - - 90

In [48]:
rows = 7
n= ord("A")

for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print(chr(n), end=' ')
        n = n+1
        if n == 91:
            break
    # new line after each row
    print("\r")

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z