In [1]:
def add_number(a):
    return a+5

In [2]:
add_number(10)

15

In [5]:
add_number()

TypeError: add_number() missing 1 required positional argument: 'a'

In [3]:
def text(var):

SyntaxError: incomplete input (28985287.py, line 2)

In [4]:
def text(var):
    pass

### Arguments

In [ ]:
*args      - non keyword arguments
**kwargs   -  key word arguments
positional -  positional argument

In [12]:
print()

In [13]:
len("amit", "ds")

TypeError: len() takes exactly one argument (2 given)

In [14]:
def fun1(a,b):
    c = a*b
    return c

In [16]:
fun1(10)

TypeError: fun1() missing 1 required positional argument: 'b'

In [17]:
def fun1():
    c = 10*2
    return c

In [18]:
fun1()

20

In [19]:
def fun2(*args):
    return args

In [20]:
fun2(10)

(10,)

In [21]:
fun2()

()

In [22]:
fun2(10, "amit", "py")

(10, 'amit', 'py')

In [26]:
def fun3(**kwargs):
    return kwargs

In [27]:
fun3(10)

TypeError: fun3() takes 0 positional arguments but 1 was given

In [28]:
fun3(a = 10, b = 20)

{'a': 10, 'b': 20}

In [29]:
fun3()

{}

In [30]:
def fun4(a, b):
    print(a**2, b)

In [32]:
fun4(10, 20)

100 20

In [33]:
def fun5(*a, **b, c):
    return a, b, c

SyntaxError: arguments cannot follow var-keyword argument (747734572.py, line 1)

In [34]:
def fun5(*a, c, **b):
    return a, b, c

In [35]:
fun5(10, 20, c = 30)

((10, 20), {}, 30)

In [36]:
fun5(10, 20, b = 30)

TypeError: fun5() missing 1 required keyword-only argument: 'c'

In [37]:
def fun6(a, *b, **c):
    return a, b, c

In [40]:
fun6(10, 20, f = 30)

(10, (20,), {'f': 30})

In [47]:
def fun7(radius):
    """this is my first function
    it will calcualte area of circle
    need to pass radius in cm only
    """
    import math
    area = math.pi*radius**2
    return f"area of the circle in the cmsquare {area} cmsqr"

In [48]:
fun7(20)

'area of the circle in the cmsquare 1256.6370614359173 cmsqr'

In [ ]:
fun7

In [49]:
def cicle(radius):
    """this is my first function
    it will calcualte parameter of circle
    need to pass radius in cm only
    """
    area =  2*3.14*radius
    return f"parameter of the circle in the cmsquare {area} cmsqr"

In [50]:
cicle(30)

'parameter of the circle in the cmsquare 188.4 cmsqr'

In [51]:
def grade(mark):
    if mark < 0 or mark > 100: 
        print("Invalid marks are entered!")
    elif mark >= 0 and mark < 35 :
        print("Sorry you failed!")
    elif mark >= 36 and mark <= 60:
        print("You passed in second class")
    elif mark >= 61 and mark <= 80 :
        print("You passed in first class")
    elif mark >= 90 and mark <= 100:
        print("you are in the merit list")
    else :
        print("You got distinction!")

In [52]:
grade(59)

You passed in second class

In [53]:
def grade1(mark):
    try:
        if mark < 0 or mark > 100: 
            print("Invalid marks are entered!")
        elif mark >= 0 and mark < 35 :
            print("Sorry you failed!")
        elif mark >= 36 and mark <= 60:
            print("You passed in second class")
        elif mark >= 61 and mark <= 80 :
            print("You passed in first class")
        elif mark >= 90 and mark <= 100:
            print("you are in the merit list")
        else :
            print("You got distinction!")
    except Exception as e:
        print(e)

In [54]:
grade1(89)

You got distinction!

In [55]:
grade1(89.7)

You got distinction!

In [56]:
grade1("89")

'<' not supported between instances of 'str' and 'int'

In [57]:
def palindrom(text):
    text = text.lower()
    text1 = text[::-1]
    if text == text1:
        print("yes")
    else:
        print("No")

In [58]:
palindrom("python")

No

In [59]:
palindrom("123321")

yes

In [60]:
palindrom("madam")

yes

In [61]:
60000/80

750.0

In [63]:
def currency_conversion(rupees):
    doll = rupees/80
    print(f"rupees {rupees} is equal to {doll} dollar")

In [64]:
currency_conversion(60000)

rupees 60000 is equal to 750.0 dollar

In [65]:
def currency_conversion(rupees, doll):
    doll = rupees/doll
    print(f"rupees {rupees} is equal to {doll} dollar")

In [66]:
currency_conversion(80000, 88)

rupees 80000 is equal to 909.0909090909091 dollar