In [1]:
def list_items(*args):
    """Print all items passed as arguments."""
    for item in args:
        print(item)

In [2]:
list_items(65465)

65465

In [3]:
list_items("python")

python

In [4]:
list_items('apple', 'banana', 'cherry')

apple
banana
cherry

In [5]:
def print_info(**kwargs):
    """Print key-value pairs passed as keyword arguments."""
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [6]:
print_info(name = "ashish")

name: ashish

In [8]:
print_info(len = "python", flan = "HTML")

len: python
flan: HTML

In [13]:
def factorial(n):
    """
    Calculate the factorial of a non-negative integer n.

    Parameters:
    n (int): The number to calculate the factorial for.

    Returns:
    int: The factorial of n.
    """
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

In [15]:
factorial(7)

5040

In [ ]:
5!

In [16]:
factorial(-1)

ValueError: Factorial is not defined for negative numbers

In [17]:
def is_prime(n):
    """
    Check if a number is a prime number.

    Parameters:
    n (int): The number to check.

    Returns:
    bool: True if n is a prime number, False otherwise.
    """
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [19]:
is_prime(37)

True

In [20]:
def find_max(lst):
    """
    Find the maximum value in a list of numbers.

    Parameters:
    lst (list of int/float): The list to search.

    Returns:
    int/float: The maximum value in the list.
    """
    if not lst:
        raise ValueError("List is empty")
    max_value = lst[0]
    for item in lst[1:]:
        if item > max_value:
            max_value = item
    return max_value

In [21]:
find_max([2,3,11,4,5,3,56,7,8,88])

88

In [22]:
def reverse_string(s):
    """
    Reverse the input string.

    Parameters:
    s (str): The string to reverse.

    Returns:
    str: The reversed string.
    """
    return s[::-1]

In [23]:
reverse_string("java")

'avaj'

In [24]:
def celsius_to_fahrenheit(celsius):
    """
    Convert Celsius to Fahrenheit.

    Parameters:
    celsius (float): The temperature in Celsius.

    Returns:
    float: The temperature in Fahrenheit.
    """
    return (celsius * 9/5) + 32

In [25]:
celsius_to_fahrenheit(36)

96.8

In [26]:
def string_length(s):
    """
    Find the length of a string.

    Parameters:
    s (str): The string to measure.

    Returns:
    int: The length of the string.
    """
    length = 0
    for _ in s:
        length += 1
    return length

In [27]:
s = "Find the length of a string."
string_length(s)

28

In [28]:
def count_occurrences(lst, item):
    """
    Count the occurrences of an item in a list.

    Parameters:
    lst (list): The list to search.
    item: The item to count.

    Returns:
    int: The number of times the item appears in the list.
    """
    count = 0
    for element in lst:
        if element == item:
            count += 1
    return count

In [30]:
l1 = [2,3,4,5,1,2,3,2,2,4,4,35,2,5,5,6,7,4,5,]

In [32]:
count_occurrences(l1, 2)

5

In [41]:
import logging

# Set up logging configuration
logging.basicConfig(filename="logfile2.txt", level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [38]:
def divide_numbers(a, b):
    try:
        result = a / b
        logging.info(f"Division successful: {a} / {b} = {result}")
        return result
    except Exception as e:
        print(e)
        logging.exception("Exception occurred")
    return None

In [39]:
divide_numbers(3, 2)

2025-08-29 13:54:13,282 - INFO - Division successful: 3 / 2 = 1.5

1.5

### list comprehension

In [63]:
for i in range(10):
    print(i, i**2, end = " ")

0 0 1 1 2 4 3 9 4 16 5 25 6 36 7 49 8 64 9 81

In [48]:
l = []
for i in range(10):
    l.append(i)

In [49]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
list((i**2 for i in range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [55]:
[i for i in l1]

[2, 3, 4, 5, 1, 2, 3, 2, 2, 4, 4, 35, 2, 5, 5, 6, 7, 4, 5]

In [56]:
strvar = "data science"

In [58]:
for i in strvar:
    print(i,end= " ")

d a t a   s c i e n c e

In [59]:
[i for i in strvar]

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [60]:
{i for i in strvar}

{' ', 'a', 'c', 'd', 'e', 'i', 'n', 's', 't'}

In [62]:
[(type(i), i) for i in l]

[(int, 0),
 (int, 1),
 (int, 2),
 (int, 3),
 (int, 4),
 (int, 5),
 (int, 6),
 (int, 7),
 (int, 8),
 (int, 9)]

In [64]:
[type(i) i for i in l]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1290233809.py, line 1)

In [67]:
d= [{type(i), i } for i in l]

In [68]:
dict(d)

{0: int, int: 9, 8: int}

In [69]:
for i,j in enumerate(strvar):
    print(i,j)

0 d
1 a
2 t
3 a
4
5 s
6 c
7 i
8 e
9 n
10 c
11 e

In [71]:
d= [{i, j} for i,j in enumerate(strvar)]

In [72]:
d

[{0, 'd'},
 {1, 'a'},
 {2, 't'},
 {3, 'a'},
 {' ', 4},
 {5, 's'},
 {6, 'c'},
 {7, 'i'},
 {8, 'e'},
 {9, 'n'},
 {10, 'c'},
 {11, 'e'}]

In [73]:
dict(d)

{0: 'd',
 1: 'a',
 2: 't',
 3: 'a',
 ' ': 4,
 's': 5,
 6: 'c',
 'i': 7,
 8: 'e',
 'n': 9,
 10: 'c',
 'e': 11}

In [74]:
list = [i for i in range(11) if i % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

In [75]:
matrix = [[j for j in range(4)] for i in range(4)]

print(matrix)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [77]:
lis = ["Even number" if i % 2 == 0 else "Odd number" for i in range(7)]
print(lis)

['Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number', 'Even number']

In [78]:
lis = [i for i in range(100)  if i % 5 == 0 if i % 3 == 0]
print(lis)

[0, 15, 30, 45, 60, 75, 90]

## Lambda function

In [81]:
a = lambda var : var*2

In [82]:
a(6)

12

In [83]:
b = lambda var : var*2

In [84]:
b(7)

14

In [85]:
str1 = 'python is a data science language'

upper = lambda string_var: string_var.upper()

In [86]:
upper("python")

'PYTHON'

In [87]:
is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]

In [88]:
is_even_list

[<function __main__.<listcomp>.<lambda>(arg=1)>,
 <function __main__.<listcomp>.<lambda>(arg=2)>,
 <function __main__.<listcomp>.<lambda>(arg=3)>,
 <function __main__.<listcomp>.<lambda>(arg=4)>]

In [90]:
for item in is_even_list:
    print(item())

10
20
30
40

In [91]:
Max = lambda a, b : a if(a > b) else b

In [92]:
Max(5, 6)

6

In [93]:
List = [[2,13,4],[1, 84, 16, 64],[30, 66, 9, 12]]

sortList = lambda x: (sorted(i) for i in x)

In [97]:
l_var = (sortList(List))

In [98]:
for i in l_var:
    print(i)

[2, 4, 13]
[1, 16, 64, 84]
[9, 12, 30, 66]

In [99]:
[sorted(i) for i in List]

[[2, 4, 13], [1, 16, 64, 84], [9, 12, 30, 66]]

In [100]:
[sorted(i,reverse=True) for i in List]

[[13, 4, 2], [84, 64, 16, 1], [66, 30, 12, 9]]